*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-sherif';
    box-sizing: border-box;
}
.inputfield{
    padding: 10px 15px; 
    font-size: 20px; 
    border-radius: 0;
}


fieldset {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 1em;
    font-family: sans-serif;
}

label, input, button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    text-align: center;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.slider-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.value-container{
    margin-bottom: 25px;
}

#demo{
    color: rgb(143, 134, 100);
    font-size: 150px;
    font-family: 'Oswald', sans-serif;
}

.slider{
    width: 60%;
    background: linear-gradient(to right, #6b8dff 0%, #ff2a5f 0%, #fff 0%, #fff 100%);
    height: 20px;
    -webkit-appearnce: none;
    border-radius: 25px;

}

#blocks-item{
    border border-color: #6b8dff;
    
}

.WideModal{
    width: 100% !important;
}

